<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DET BØR DU!</title>
    <style>
        body{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: black;
            width: 100%;
            min-height: 100vh;
        }

        h1{
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <h1>DET BØR DU!</h1>
    </div>
</body>
</html>