<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Her er batman</title>
    <style>
        body {
            color: white;
            background-color: black;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        #main {
            margin: auto;
            width: 100%;
            padding: 10px;
            text-align: center;
        }
    </style>

</head>

<body>
    <div id='main'>
        <p>
            Dette var siste oppgaven til Marius. Det var en fysisk oppgave, hvor han måtte gå fysisk rundt på Gamle Fysikk NTNU, 
            finne pdfen du kan laste ned under, scanne QR-koden og deretter bli icet.
        </p>
        <br />
        <p>
            Takk for at du spilte ❤️
            <br />
            -Thomas, Sander
        </p>
        <a href="https://mariusharbursdag.no/givemefinalfile" download="https://mariusharbursdag.no/givemefinalfile">Trykk her for å laste ned filen!!</a>
    </div>
</body>
</html>