<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velkommen</title>
    <link rel="stylesheet" href="/css/velkommen.css" />
</head>
<body>
    <div id="main">
        <h1>GRATULERER MED DAGEN!!! 🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉</h1>
    
        <div class="content"">
            <p>
                Welcome to your birthday riddles.....
            </p>
            <p>
                Each answer will reveal the location of the next riddle....
            </p>
            <br />
            <p>
                The first one will be an easy one:
            </p>
            <p>
                /qmhm
            </p>
        </div>
    </div>
</body>
</html>