<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whydidyouscanme</title>
    <style>
        body {
            color: white;
            background-color: black;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        #main {
            margin: auto;
            width: 100%;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="main">
        <h1>Hvorfor scannet du?</h1>
    </div>
</body>
</html>